examples/add-time.json
[
  {
    "id": "a-inject-start",
    "type": "inject",
    "name": "Start",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "go",
    "payloadType": "str",
    "x": 150,
    "y": 100,
    "wires": [["a-timer"]]
  },
  {
    "id": "a-inject-add",
    "type": "inject",
    "name": "Add 30s",
    "props": [
      { "p": "payload" },
      { "p": "adjusttime", "v": "30000", "vt": "num" }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "adjusttime",
    "payloadType": "str",
    "x": 160,
    "y": 160,
    "wires": [["a-timer"]]
  },
  {
    "id": "a-inject-subtract",
    "type": "inject",
    "name": "Subtract 15s",
    "props": [
      { "p": "payload" },
      { "p": "adjusttime", "v": "-15000", "vt": "num" }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "adjusttime",
    "payloadType": "str",
    "x": 170,
    "y": 220,
    "wires": [["a-timer"]]
  },
  {
    "id": "a-inject-stop",
    "type": "inject",
    "name": "Stop",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "stop",
    "payloadType": "str",
    "x": 150,
    "y": 280,
    "wires": [["a-timer"]]
  },
  {
    "id": "a-timer",
    "type": "timer-events",
    "name": "",
    "duration": "60",
    "durationType": "num",
    "units": "Second",
    "reporting": "every_second",
    "reportingformat": "human",
    "persist": false,
    "ignoretimerpass": false,
    "donotresettimer": false,
    "thresholdaction": "donothing",
    "thresholdcount": "0",
    "thresholdaddtime": "0",
    "thresholdaddtimeunits": "Second",
    "heartbeatinterval": "0",
    "heartbeatintervalunits": "Second",
    "cooldownduration": "0",
    "cooldownunits": "Second",
    "x": 420,
    "y": 190,
    "wires": [
      ["a-debug-start"],
      ["a-debug-stop"],
      ["a-debug-query"],
      ["a-debug-events"]
    ]
  },
  {
    "id": "a-debug-start",
    "type": "debug",
    "name": "1 START",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 700,
    "y": 130,
    "wires": []
  },
  {
    "id": "a-debug-stop",
    "type": "debug",
    "name": "2 STOP",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 700,
    "y": 180,
    "wires": []
  },
  {
    "id": "a-debug-query",
    "type": "debug",
    "name": "3 QUERY",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 700,
    "y": 230,
    "wires": []
  },
  {
    "id": "a-debug-events",
    "type": "debug",
    "name": "4 EVENTS (watch msg.timeAdjusted)",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 780,
    "y": 280,
    "wires": []
  }
]
