examples/basic-usage.json
[
    {
        "id": "b-inject-start",
        "type": "inject",
        "name": "Start",
        "props": [{ "p": "payload" }],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "go",
        "payloadType": "str",
        "x": 150,
        "y": 120,
        "wires": [["b-timer"]]
    },
    {
        "id": "b-inject-stop",
        "type": "inject",
        "name": "Stop",
        "props": [{ "p": "payload" }],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "stop",
        "payloadType": "str",
        "x": 150,
        "y": 180,
        "wires": [["b-timer"]]
    },
    {
        "id": "b-timer",
        "type": "timer-events",
        "name": "",
        "duration": "10",
        "durationType": "num",
        "units": "Second",
        "reporting": "every_second",
        "reportingformat": "human",
        "persist": false,
        "ignoretimerpass": false,
        "donotresettimer": false,
        "thresholdaction": "donothing",
        "thresholdcount": "0",
        "thresholdaddtime": "0",
        "thresholdaddtimeunits": "Second",
        "heartbeatinterval": "0",
        "heartbeatintervalunits": "Second",
        "cooldownduration": "0",
        "cooldownunits": "Second",
        "x": 400,
        "y": 150,
        "wires": [
            ["b-debug-start"],
            ["b-debug-stop"],
            ["b-debug-query"],
            ["b-debug-events"]
        ]
    },
    {
        "id": "b-debug-start",
        "type": "debug",
        "name": "1 START",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 90,
        "wires": []
    },
    {
        "id": "b-debug-stop",
        "type": "debug",
        "name": "2 STOP",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 140,
        "wires": []
    },
    {
        "id": "b-debug-query",
        "type": "debug",
        "name": "3 QUERY",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 190,
        "wires": []
    },
    {
        "id": "b-debug-events",
        "type": "debug",
        "name": "4 EVENTS",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 240,
        "wires": []
    }
]
