examples/cooldown.json
[
    {
        "id": "c-inject-start",
        "type": "inject",
        "name": "Start",
        "props": [{ "p": "payload" }],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "go",
        "payloadType": "str",
        "x": 150,
        "y": 120,
        "wires": [["c-timer"]]
    },
    {
        "id": "c-inject-stop",
        "type": "inject",
        "name": "Stop (also cancels cooldown)",
        "props": [{ "p": "payload" }],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "stop",
        "payloadType": "str",
        "x": 210,
        "y": 180,
        "wires": [["c-timer"]]
    },
    {
        "id": "c-inject-query",
        "type": "inject",
        "name": "Query",
        "props": [{ "p": "payload" }],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "query",
        "payloadType": "str",
        "x": 150,
        "y": 240,
        "wires": [["c-timer"]]
    },
    {
        "id": "c-timer",
        "type": "timer-events",
        "name": "",
        "duration": "30",
        "durationType": "num",
        "units": "Second",
        "reporting": "every_second",
        "reportingformat": "human",
        "persist": false,
        "ignoretimerpass": false,
        "donotresettimer": false,
        "thresholdaction": "donothing",
        "thresholdcount": "0",
        "thresholdaddtime": "0",
        "thresholdaddtimeunits": "Second",
        "heartbeatinterval": "0",
        "heartbeatintervalunits": "Second",
        "cooldownduration": "20",
        "cooldownunits": "Second",
        "x": 460,
        "y": 180,
        "wires": [
            ["c-debug-start"],
            ["c-debug-stop"],
            ["c-debug-query"],
            ["c-debug-events"]
        ]
    },
    {
        "id": "c-debug-start",
        "type": "debug",
        "name": "1 START (silent during cooldown)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 120,
        "wires": []
    },
    {
        "id": "c-debug-stop",
        "type": "debug",
        "name": "2 STOP (expired fires once)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 170,
        "wires": []
    },
    {
        "id": "c-debug-query",
        "type": "debug",
        "name": "3 QUERY",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 220,
        "wires": []
    },
    {
        "id": "c-debug-events",
        "type": "debug",
        "name": "4 EVENTS (cooldownstarted / blocked starts / cooldownended)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 270,
        "wires": []
    }
]
