examples/pause-resume.json
[
  {
    "id": "p-inject-start",
    "type": "inject",
    "name": "Start",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "go",
    "payloadType": "str",
    "x": 150,
    "y": 100,
    "wires": [["p-timer"]]
  },
  {
    "id": "p-inject-pause",
    "type": "inject",
    "name": "Pause",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "pause",
    "payloadType": "str",
    "x": 150,
    "y": 160,
    "wires": [["p-timer"]]
  },
  {
    "id": "p-inject-resume",
    "type": "inject",
    "name": "Resume",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "resume",
    "payloadType": "str",
    "x": 160,
    "y": 220,
    "wires": [["p-timer"]]
  },
  {
    "id": "p-inject-query",
    "type": "inject",
    "name": "Query",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "query",
    "payloadType": "str",
    "x": 150,
    "y": 280,
    "wires": [["p-timer"]]
  },
  {
    "id": "p-inject-stop",
    "type": "inject",
    "name": "Stop",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "stop",
    "payloadType": "str",
    "x": 150,
    "y": 340,
    "wires": [["p-timer"]]
  },
  {
    "id": "p-timer",
    "type": "timer-events",
    "name": "",
    "duration": "60",
    "durationType": "num",
    "units": "Second",
    "reporting": "every_second",
    "reportingformat": "human",
    "persist": false,
    "ignoretimerpass": false,
    "donotresettimer": false,
    "thresholdaction": "donothing",
    "thresholdcount": "0",
    "thresholdaddtime": "0",
    "thresholdaddtimeunits": "Second",
    "heartbeatinterval": "0",
    "heartbeatintervalunits": "Second",
    "cooldownduration": "0",
    "cooldownunits": "Second",
    "x": 410,
    "y": 220,
    "wires": [
      ["p-debug-start"],
      ["p-debug-stop"],
      ["p-debug-query"],
      ["p-debug-events"]
    ]
  },
  {
    "id": "p-debug-start",
    "type": "debug",
    "name": "1 START",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 690,
    "y": 160,
    "wires": []
  },
  {
    "id": "p-debug-stop",
    "type": "debug",
    "name": "2 STOP",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 690,
    "y": 210,
    "wires": []
  },
  {
    "id": "p-debug-query",
    "type": "debug",
    "name": "3 QUERY (frozen values while paused)",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 780,
    "y": 260,
    "wires": []
  },
  {
    "id": "p-debug-events",
    "type": "debug",
    "name": "4 EVENTS",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 690,
    "y": 310,
    "wires": []
  }
]
